<div class="panel" fit="true">
    <table align="center">
        <tr>
            <td align="right" style="width: 80px;">部门编码:</td>
            <td><input id="department-id-txt" class="easyui-textbox" disabled="disabled" style="width: 100%"
                value="{{ID}}"></td>
        </tr>
        <tr>
            <td align="right">部门名称:</td>
            <td><input id="department-name-txt" class="easyui-textbox" type="text" style="width: 100%" required="true"
                value="{{NAME}}"></td>
        </tr>
        <tr>
            <td align="right">描述:</td>
            <td><input id="department-description-txt" class="easyui-textbox" multiline="true" style="width: 100%" type="text"
                value="{{DESCRIPTION}}"></td>
        </tr>
    </table>
</div>
