<div class="panel" fit="true">
    <table align="center">
        <tr>
            <td align="right" style="width: 80px;">角色编码:</td>
            <td><input id="role-id-txt" class="easyui-validatebox" disabled="disabled" style="width: 100%"
                value="{{ID}}"></td>
        </tr>
        <tr>
            <td align="right">角色名称:</td>
            <td><input id="role-name-txt" class="easyui-validatebox" type="text" style="width: 100%" required="true"
                value="{{NAME}}"></td>
        </tr>
        <tr>
            <td align="right">描述:</td>
            <td><input id="role-description-txt" class="easyui-validatebox" style="width: 100%" multiline="true" type="text"
                value="{{DESCRIPTION}}"></td>
        </tr>
        <tr>
            <td align="right">权限:</td>
            <td>{{#each rights}}
                <div style="display: inline-block; min-width: 150px;">
                    <input type="checkbox" class="role-right-item" {{checked}} value="{{id}}">{{name}}
                </div> {{/each}}
            </td>
        </tr>
    </table>
</div>
