
<div id="dashboard-pannel" class="portal" style="position: relative" data-options="tools:'#dashboard-tool',title:'我的桌面',fit:true">
    {{#each columns}}
    <div style="width: {{width}};"></div>
    {{/each}}
</div>
<div id="dashboard-tool">
    <a href="#" id="arrange-dashboard-bt" style="width: 60px; color: black;">桌面整理</a>
</div>
<div id="dashboard-dialog"></div>

<script type="text/javascript" src="/easyui/jquery.portal.js"></script>
<script type="text/javascript" src="dashboard/dashboard.js"></script>
