@charset "UTF-8";
body,td,th {
	font-size: 12px;
}
body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow:hidden;
	background: url(../image/background.jpg);
}
.container-login{
width:1024px;
margin:0px auto;
padding:0px;
overflow:hidden;

}
.login-pic{
position:absolute;
top:40%;
left:45%;
margin:-150px 0 0 -200px;
width:520px;
height:300px;
border:1px solid #008800;
padding:0px;
overflow:hidden;
background:url(../image/loginface.png) no-repeat !important;
}
#login-form{
width:450px;
float:right;
margin:150px auto auto 50px;
padding:0px;
overflow:hidden;
position:absolute;
}
 #login-button{
 text-align: center;
 height:48px;
 
 }
 .formTitle{
  height: 24px;
 }
 
#user-password{
    background-color : #FFFFFF;
    background-image :url("../image/text-bg.gif") !important;
    border-color : #B5B8C8 !important;
}