html, body {
 height: 100%;
 min-height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 overflow: auto;
 font-size: 0.95em;
}

a {
 text-decoration: none;
 cursor: pointer;
}

label {
 font-weight: bold;
}

#system-name {
 padding: 10px 20px;
 margin: 0;
 display: inline-block;
}

#full-workspace {
 margin: 0;
 padding: 0;
 overflow-y: auto;
}

.header-item {
 font-weight: bold;
 font-size: 14px;
 line-height: 20px;
 padding: 5px 10px;
 margin: 0;
 display: inline-block;
 vertical-align: middle;
}

#node-nav {
 width: 15%;
 margin: 0;
 padding: 0;
}

#main-workspace {
 margin: 0;
 padding: 0;
 min-width: 400px;
}

.title-panel {
 text-align: center;
 vertical-align: middle;
 padding: 10px;
 margin: 0;
}

#operator-panel {
 position: absolute;
 width: 128px;
 right: 5px;
 top: 5px;
}

.separater {
 display: inline-block;
 color: SteelBlue;
 width: 1px;
 height: 16px;
 margin: 0 5px;
 border-left: 1px solid SteelBlue;
}

.operator-tool {
 display: inline-block;
 width: 18px;
 height: 16px;
 padding: 0;
 margin: 0 2px;
 cursor: pointer;
}

.statusInvalid {
 background-color: gray;
}

.alarmLevel0 {
 background-color: #00FF00;
}

.alarmLevel1 {
 background-color: #FF0000;
}

.alarmLevel2 {
 background-color: #F500FF;
}

.alarmLevel3 {
 background-color: #FFFF00;
}

.alarmLevel4 {
 background-color: #00F9FF;
}

.required-propertiy {
 color: red;
}

.formatNumeric {
 text-align: right;
}

.readonly-form {
 background-color: #dfdfdf;
}

.form-label {
 margin: 0 5px 0 1em;
}

.form-table-col {
 width: 12em;
}

.form-table-col-mid {
 width: 10em;
}

.form-table-col-sm {
 width: 8em;
}

.icon-close {
 background: url('../image/close.png') no-repeat center center;
}
.icon-key {
 background: url('../image/key_16.png') no-repeat center center;
}

.icon-csc {
 background: url('../image/csc.gif') no-repeat center center;
}

.icon-lsc {
 background: url('../image/lsc.gif') no-repeat center center;
}
.icon-region {
 background: url('../image/area.gif') no-repeat center center;
}
.icon-station {
 background: url('../image/station.gif') no-repeat center center;
}
.icon-building {
 background: url('../image/building.gif') no-repeat center center;
}
.icon-room {
 background: url('../image/room.gif') no-repeat center center;
}
.icon-floor {
 background: url('../image/floor.gif') no-repeat center center;
}
.icon-cabinet-model{
 background: url('../image/device.gif') no-repeat center center;
}
.icon-cabinet-column{
 background: url('../image/device.gif') no-repeat center center;
}
.icon-cabinet{
 background: url('../image/device.gif') no-repeat center center;
}
.icon-device {
 background: url('../image/device.gif') no-repeat center center;
}
.icon-devModule {
 background: url('../image/devModule.gif') no-repeat center center;
}

.icon-screen {
 background: url('../image/Panel_16.png') no-repeat center center;
}

.icon-detail {
 background: url('../image/detailed_view_16.png') no-repeat center center;
}

.icon-map {
 background: url('../image/map_16.png') no-repeat center center;
}

.menu-nav-item {
 padding: 2px;
 margin: 0;
}

.menu-nav-item li {
 padding: 5px;
 font-size: 14px;
 line-height: 20px;
 margin: 0;
 list-style-type: none;
 line-height: 20px;
}

.menu-nav-item li a {
 color: #5b5b5b;
 display: block;
 font-weight: bold;
}