<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.cookie.js"></script>
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="css/login.css" />
<title>登录DCIM系统</title>
<script type="text/javascript">
	function doLogin() {
		var loginInfo = {
			username : $('#username').textbox("getValue"),
			password : $('#password').textbox("getValue")
		};
		$.ajax({
			url : "login",
			type : 'POST',
			data : loginInfo,
			contentType : "application/x-www-form-urlencoded",
			timeout : 30000, // 超时时间
			success : function(data, textStatus, jqXHR) {
				location.reload();
			},
			error : function(xhr, textStatus) {
				$("#error-info").text(xhr.responseText);
			}
		});
	}
	$(function() {
		$("body").css("height", $(window).height());
		$(".login-pic").css("margin-top", ($(window).height() - 300) / 2);
		document.onkeydown = function(e) {
			var event = e || window.event;
			var code = event.keyCode || event.which || event.charCode;
			if (code == 13) {
				doLogin();
			}
		}
		$("#username").focus();
	});
</script>
</head>
<body>
	<div class="login-pic">
		<div>
			<img class="panel" title="logo" src="images/logo1.jpg" />
		</div>
		<div>
			<form id="login-form">
				<table style="float: left;">
					<tr>
						<td>帐号:</td>
						<td><input id="username" class="easyui-textbox" type="text" name="username" value="" data-options="iconCls:'icon-man'"/></td>
					</tr>
					<tr>
						<td>密码:</td>
						<td><input id="password" class="easyui-textbox" type="password" name="password" value="" data-options="iconCls:'icon-lock'" /></td>
					</tr>
				</table>
				<div style="float: left; padding: 10px 10px 0; vertical-align: middle;">
					<input id="login-button" type="button" name="login" onclick="doLogin()" value="登录" />
				</div>
				<div style="float: left; width: 100px; padding: 70px 0 0; color: red;">
					<label id="error-info"></label>
				</div>
			</form>
		</div>
	</div>
</body>