<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.cookie.js"></script>
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"></script>
<link rel="stylesheet" type="text/css" href="css/login.css" />
<title>登录DCIM系统</title>
</head>
<body>
    <div class="container-login">
        <div class="login-pic">
            <div>
                <img class="panel" title="logo" src="image/logo1.jpg"></img>
            </div>
            <form id="login-form" method="POST">
                <table style="float: left;">
                    <tr>
                        <td>帐号:</td>
                        <td><input type="text" name="username" value="" /></td>
                    </tr>
                    <tr>
                        <td>密码:</td>
                        <td><input type="password" name="password" value="" /></td>
                    </tr>
                </table>
                <div style="float: left; padding: 10px 0; vertical-align: middle; ">
                    <input id="login-button" type="submit" name="login" value="登录" />
                </div>
                <div style="float: left; width: 100px; padding: 10px;">
                    <label id="error-info"></label>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
					$('#login-form').form('submit', {
						url : "login",
						onSubmit : function() {
							return true;
						},
						success : function(data) {
							data = JSON.parse(data);
							if (data.result) {
								location.reload();
							} else {
								$("#error-info").text(data.message);
							}
							console.log(data);
						}
					});
				</script>
</body>