<script src="/Chart.js/Chart.bundle.min.js"></script>
<div style="padding:5px;" class="pannel">
<h2 id="title" class="title-panel">title</h2>
<div>
<input id="startTime" class="easyui-datetimebox" label="选择时间:" labelPosition="top"
    data-options="formatter:WUI.date_format" style="width: 100%;" />
<input class="easyui-datetimebox" data-options="formatter:WUI.date_format" style="width: 200px;" />
</div>
<div class="pannel" style="width: 500px;">
    <canvas id="canvas" ></canvas>
</div>
</div>
<script>
$('#startTime').datetimebox({
    value: WUI.date_format(new Date()),
    required: true,
    showSeconds: false
});
	var MONTHS = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October",
			"November", "December" ];

	var randomScalingFactor = function() {
		return (Math.random() > 0.5 ? 1.0 : 0.5) * Math.round(Math.random() * 100);
	};
	var randomColorFactor = function() {
		return Math.round(Math.random() * 255);
	};
	var randomColor = function() {
		return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
	};

	var barChartData = {
		labels : [ "January", "February", "March", "April", "May", "June", "July" ],
		datasets : [
				{
					label : 'Dataset 1',
					backgroundColor : "rgba(220,220,220,0.5)",
					data : [ randomScalingFactor(), randomScalingFactor(), randomScalingFactor(),
							randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor() ]
				},
				{
					hidden : false,
					label : 'Dataset 2',
					backgroundColor : "rgba(151,187,205,0.5)",
					data : [ randomScalingFactor(), randomScalingFactor(), randomScalingFactor(),
							randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor() ]
				},
				{
					label : 'Dataset 3',
					backgroundColor : "rgba(151,187,205,0.5)",
					data : [ randomScalingFactor(), randomScalingFactor(), randomScalingFactor(),
							randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor() ]
				},
				{
					label : 'Dataset 4',
					backgroundColor : "rgba(151,187,205,0.5)",
					data : [ randomScalingFactor(), randomScalingFactor(), randomScalingFactor(),
							randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor() ]
				} ]

	};

	window.onload = function() {
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myBar = new Chart(ctx, {
			type : 'bar',
			data : barChartData,
			options : {
				// Elements options apply to all of the options unless overridden in a dataset
				// In this case, we are setting the border of each bar to be 2px wide and green
				elements : {
					rectangle : {
						borderWidth : 0,
						borderColor : 'rgb(0, 255, 0)',
						borderSkipped : 'bottom'
					}
				},
				responsive : true,
				legend : {
					position : 'top',
				},
				title : {
					display : true,
					text : '告警环比'
				}
			}
		});

	};
</script>