
.building-row1 .energy {
	background-color: #729fcf;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.building-row1 .energy .label {
	float: left;
	border-radius: 5px 5px 0 0;
	background-color: #3465a4;
	width: 80px;
	height: 100%;
}

.building-row1 div .value {
	float: left;
	padding: 15px 10px;
	color: white;
}

.building-row1 .environment {
	background-color: #ad7fa8;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.building-row1 .environment .label {
	float: left;
	border-radius: 5px 5px 0 0;
	background-color: #75507b;
	width: 80px;
	height: 100%;
}

.building-row1 .extremum {
	background-color: #8ae234;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.building-row1 .extremum .label {
	float: left;
	border-radius: 5px 5px 0 0;
	background-color: #73d216;
	width: 80px;
	height: 100%;
}


.building-row2 div {
	border-radius: 5px;
	width: 100%;
	height: 100%;
}
