.object-detail-item {
 display: inline-block;
 text-align: center;
 padding: 5px;
 margin: 20px;
 cursor: pointer;
}

.object-detail-item .type1 {
 background: url('images/csc.png') no-repeat center center;;
 width: 72px;
 height: 72px;
  padding:0 40px;
}

.object-detail-item .type2 {
 background: url('images/station.png') no-repeat center center;;
 width: 72px;
 height: 72px;
 padding:0 40px;
}
